<h1>Topics</h1>

<% @topics.each do |topic| %>
  <p><strong>Title: </strong><%= topic.title %></p>
  <p><strong>Author: </strong><%= topic.author %></p>
  <p><%=topic.body %></p>
  <%= link_to 'Edit', edit_topic_path(topic) %>
  <%= link_to 'Destroy', topic, confirm: 'Are you sure?', method: :delete %>
  <%= link_to 'Make a comment.', new_topic_comment_path(topic) %><br />
  
  <h3>Comments</h3>
  <% topic.comments.each do |comment| %>
    <fieldset>
      <p><strong>Author: </strong><%= comment.author %></p>
      <p><%= comment.body %></p>
    </fieldset>
  <% end %>
  
  
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
